# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.docker-compose.yml

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
# .env  # Uncomment this line if you don't want to commit your .env file

# Logs
logs/
*.log

# Database
*.sqlite3
*.db

# OS specific
.DS_Store
Thumbs.db
